
.modal {width:360px; top : 50%; left:60%; }
.dropdown {width: 150px; margin:0 auto; }
.dropdown-menu {position: relative;}
.dropdown-toggle {font-size : 20px; font-weight: bold;}

#btnbox {
    position:absolute;
    top:13px;right:20px;
    padding:5px;
    background:rgba(0,0,0,.6);
    border-radius:5px;
    z-index: 1000;
    /*-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;*/
}

#listbox {
    background:rgba(0,0,0,.8);
    position:absolute;
    top:0;
    left:0;
    z-index: 1010;
    width:100%;
    height: 100%;
    overflow: scroll;
}

#listbox .box{
    background-color:#fff;
    padding:3px;
    opacity: .6;
    width:150px;
    height:150px;
    overflow:hidden;
    float:left;
    margin:15px;
    text-align: center;
}

#listbox .list-title {
    font-size:15px; 
    background-color: #fff; 
    width:150px; 
    height:30px; 
    margin: 15px 0 0 15px; 
    border-radius:5px;
}

#listbox h5{
    font-size:11px;
    line-height: 15px;
}

#articlebox {
    background:rgba(0,0,0,.8);
    position:absolute;
    top:0;
    left:40%;
    z-index: 1010;
    width:50%;
    height: 100%;
    overflow: scroll;
    padding:40px;
    color:#fff;
}

#articlebox p {
    text-indent: 10px;
}


html, body { 
    margin:0;
    padding:0;background:#000;
}
h1, h2, .nav-link, .playlist-btn {
    font-family:'Source Sans Pro', sans-serif; font-weight:900; 
    text-transform:uppercase;

}
h1 {font-size:20px; margin:0;padding:0 0 0 20px; color:#fff;}

//a { color:#fff; font-style:italic; }
blockquote { 
    background:#fff; 
    margin:0 0 20px;
    padding:5px 20px; 
}
pre {
    white-space:pre-wrap;       /* css-3 */
    white-space:-moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space:-pre-wrap;      /* Opera 4-6 */
    white-space:-o-pre-wrap;    /* Opera 7 */
    word-wrap:break-word;       /* Internet Explorer 5.5+ */
}
.box { 
    background:#444; background:rgba(0,0,0,.4);
    padding:10px;
    border-radius:5px;
    margin-bottom:20px;
}
.box span {
    color:#fff;
    padding: 0 0 0 20px;
    margin:0;
}
.nav { 
    position:fixed; 
    top:50px;left:50px;
    width:150px; 
    -webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;
}
.credit {
    margin:20px 0;
}
.download-links { margin-top:20px; }
.download { margin-left:10px; padding:5px 10px; color:#fff; background:#111; border-radius:5px; }
.video-list {
    list-style:none;
    margin:0 0 -10px;
    padding:0;
    text-align:center;
}
.video-list li {
    margin-bottom:10px;
}
.video-list .playlist-btn {
    display:block;
    width:100%;
}
.main {
    position:relative;
    /*margin:50px 120px 440px 120px;*/
    min-width:300px;
    margin:10px;
    /*-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;*/
}

.nav-link {
    display:block;
    padding-bottom:10px;
    text-decoration:none;
    font-style:normal;
}
.toggle-btn {
    position: absolute;
    bottom: -50px;
    left: 5px;
    background:rgba(0,0,0,.8);
    padding: 6px 12px;
    border-radius: 10px;
    color: #fff;
    font-size: .8em;
    font-family:'Source Sans Pro', sans-serif; font-weight:900; 
    text-transform: uppercase;
}
.playlist { 
    padding:0; 
    margin:20px 20px 40px;
}
.playlist-btn { 
    background:#000; 
    text-decoration:none; 
    font-weight:bold; 
    font-style:normal; 
    text-transform:uppercase; 
    font-size:14px; 
    padding:5px 10px; 
    margin-right:10px;
    border-radius:5px; 
}
.dimmed {opacity:.7;}
.footer-text {
    padding:0 20px;
    font-size:.9em;
    font-style:italic;
    opacity:.8;
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}



/*  BigVideo Styles 
  You may need to adjust these styles to get this working right in your design. 
*/
#big-video-wrap{overflow:hidden;position:fixed;height:100%;width:100%;top:0;left:0;}
#big-video-vid,#big-video-image{position:absolute;}
#big-video-control-container{position:fixed;bottom:20px;padding: 0 20px;width:100%;
  -webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;}
#big-video-control{width:100%;height:16px;position:relative;}
#big-video-control-middle{margin: 0 95px 0 24px;}
#big-video-control-bar{width:50%;height:16px;position:relative;cursor:pointer; margin:0 auto;}
#big-video-control-progress{position:absolute;top:1px;height:14px;width:0%;background:#08c; }
#big-video-control-track{position:absolute;height:16px;width:100%;background:rgba(255,255,255,0.2);}
#big-video-control-bound-left{left:0;}
#big-video-control-bound-right{right:-1px}
#big-video-control-track .ui-slider-handle {opacity:0;}
#big-video-control-playhead{left:30%;}
#big-video-control-play{position:absolute;top:0;left:20%;height:16px;width:16px;background-image:url('bigvideo.png');}
#big-video-control-timer{position:absolute;top:-3px;right:25%;color:#fff;font-size:11px;}
#big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{position:absolute;top:0;height:16px;width:1px;background:rgba(255,255,255,0.2);}
#big-video-control .ui-slider-handle{border-left:solid 1px #fff; width:16px;height:16px;position:absolute;top:-8px;}
.transparent{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.vjs-big-play-button{display:none !important;}
