<div class="article_box">
    <div class="title">
    	${title}
    	<span>${cpInfo.korName}</span>
    	<button type="button" class="close" id="closeArticleBox" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="content">
	    <p>{{html content}}</p>
    </div>
</div>
