<div class="title">
	소셜 댓글
	<button type="button" class="close" id="closeCommentBox" data-dismiss="modal" aria-hidden="true">×</button>
</div>

<div class="comments">
	<!-- 페이스북 댓글 플러그인 시작 -->
	<div class="fb-comments" data-href="reminiscence.github.com/scv-news" data-num-posts="5" data-width="300%" data-colorscheme="light"></div>
	<!-- 페이스북 댓글 플러그인 끝 -->
</div>