<div class="config_box">
  <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">설</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button id="submit" class="btn btn-primary">확인</button>
    </div>
  </div>
</div>
