<div class="box" vid="${vid}">
    <img src="${imageUrl}" class="img-rounded" />
    <span class="mid_tit">Title</span>
    <h5>${title}</h5>
    <span class="mid_tit">BroadCasting</span>
    <span>${cpKorName}</span>
    <span class="mid_tit">Date</span>
    <span>${regDate}</span>
  </div>