<div class="box" vid="${vid}" newsId="${newsId}">
    <img src="${imageUrl}" class="img-rounded" />
    <span class="mid_tit">Title</span>
    <h5>${title}</h5>
    <span class="mid_tit">BroadCasting</span>
    <span>${cpKorName}</span>
    <span class="mid_tit">Date</span>
    <span>${regDate}</span>
     <a id="btn-bookmark" title="즐겨찾기 추가"  data-toggle="modal" class="btn btn-large" rel="tooltip" data-placement="left"><i class="icon-star-empty"></i></a>
  </div>
  